{% if config['pangaea']['docker_gcr_credentials'] %}
{{
    config['helpers']['kube_secret']('google-sa-auth', {
        'json': config['helpers']['read_file'](
            config['pangaea']['docker_gcr_credentials']['auth_file']
        )
    })
}}
{% endif %}
