#!/bin/bash

SCRIPT_DIR=`dirname $0`

INSTANCE_NAME="{{ config['gce']['instance_name'] }}"
CLOUD_CONFIG="{{ config['helpers']['pangaea_path']('pangaea/files/coreos/pan.self.yaml') }}"

# gcloud compute project-info remove-metadata --keys user-data
gcloud compute project-info add-metadata --metadata-from-file user-data="$CLOUD_CONFIG"
gcloud compute instances create $INSTANCE_NAME \
  --image coreos \
  --zone asia-east1-a \
  --machine-type n1-standard-2 \
  --boot-disk-size 20GB \
  --boot-disk-type pd-ssd

{% if config['environment'] == 'development' %}
gcloud compute --project "tfc-glassic" firewall-rules create "kubeapiserver-8080" --allow tcp:8080 --description "kubernetes api server for kubectl" --network "default"
{% endif %}

echo
echo "###############################################"
echo
echo "The Kubernetes compute instance is now booting."
echo "If asked for an ssh password, wait for the instance to boot and try again."
echo "gcloud compute ssh core@$INSTANCE_NAME"
echo
echo "###############################################"
echo

{% if config['pangaea']['enable_kubesystem'] %}

{{ config['helpers']['pangaea_path']('pangaea/files/stubs/kubesystem.py') }}

echo
echo "###############################################"
echo

{% endif %}
